---
interface Props {
  appId?: string;
  size?: 'default' | 'small';
  className?: string;
}

const { 
  appId = '6747909084',
  size = 'default',
  className = '' 
} = Astro.props;

// Build App Store URL with tracking parameters
const appStoreUrl = `https://apps.apple.com/app/id${appId}?pt=thoughtmarks&ct=landing&mt=8`;

const sizeClasses = {
  default: 'h-[54px]',
  small: 'h-[40px]'
};
---

<!-- 
  Official Apple App Store Badge
  App Store ID: 6747909084

  Usage:
  <AppStoreBadge />
-->
<a 
  href={appStoreUrl}
  class={`inline-block transition-opacity hover:opacity-80 ${className}`}
  target="_blank"
  rel="noopener noreferrer"
  data-track-cta="app-store-badge"
  data-cta-location="download-button"
>
  <!-- Official Download on App Store Badge SVG -->
  <svg 
    class={sizeClasses[size]} 
    viewBox="0 0 135 40" 
    fill="none" 
    xmlns="http://www.w3.org/2000/svg"
    role="img"
    aria-label="Download on the App Store"
  >
    <rect width="135" height="40" rx="5" fill="black"/>
    <g clip-path="url(#clip0)">
      <path d="M26.928 20.284c-.031-3.223 2.634-4.782 2.753-4.853-1.499-2.191-3.832-2.491-4.664-2.523-1.986-.203-3.875 1.171-4.882 1.171-1.007 0-2.565-1.141-4.216-1.11-2.169.031-4.168 1.26-5.286 3.201-2.253 3.904-.576 9.692 1.62 12.863 1.075 1.551 2.355 3.294 4.037 3.232 1.62-.065 2.232-1.048 4.189-1.048 1.957 0 2.507 1.048 4.216 1.017 1.74-.031 2.866-1.55 3.941-3.101 1.243-1.794 1.755-3.527 1.786-3.615-.039-.016-3.423-1.312-3.454-5.203h-.04v-.031z" fill="white"/>
      <path d="M24.035 14.031c.897-1.086 1.503-2.592 1.338-4.095-1.291.053-2.854.859-3.783 1.945-.834.969-1.565 2.516-1.37 4.001 1.448.113 2.927-.737 3.815-1.851z" fill="white"/>
      <path d="M52.255 29.766h-2.29l-1.253-3.944h-4.358l-1.191 3.944h-2.23l4.326-13.433h2.598l4.398 13.433zm-3.915-5.662l-1.132-3.481c-.116-.363-.346-1.222-.688-2.577h-.041c-.14.646-.363 1.505-.669 2.577l-1.113 3.481h3.643zM63.97 24.807c0 1.657-.454 2.96-1.363 3.91-.817.844-1.834 1.266-3.051 1.266-1.299 0-2.234-.453-2.805-1.359h-.041v5.051h-2.104V23.04c0-1.004-.028-2.036-.082-3.096h1.852l.118 1.481h.041c.725-1.116 1.826-1.674 3.303-1.674 1.176 0 2.159.453 2.949 1.359.788.906 1.183 2.089 1.183 3.547v.15zm-2.125-.109c0-.96-.207-1.746-.622-2.357-.456-.652-1.076-.978-1.86-.978-.521 0-.993.17-1.414.511-.422.341-.703.789-.844 1.344-.076.304-.113.55-.113.738v1.823c0 .794.228 1.463.683 2.006.456.543 1.056.814 1.801.814.806 0 1.427-.309 1.86-.927.435-.618.652-1.435.652-2.45l-.143-.524z" fill="white"/>
      <path d="M75.211 24.807c0 1.657-.453 2.96-1.362 3.91-.816.844-1.834 1.266-3.051 1.266-1.298 0-2.234-.453-2.804-1.359h-.041v5.051h-2.105V23.04c0-1.004-.028-2.036-.082-3.096h1.852l.117 1.481h.042c.724-1.116 1.826-1.674 3.303-1.674 1.175 0 2.158.453 2.948 1.359.789.906 1.183 2.089 1.183 3.547v.15zm-2.124-.109c0-.96-.208-1.746-.623-2.357-.455-.652-1.076-.978-1.86-.978-.52 0-.993.17-1.414.511-.421.341-.702.789-.843 1.344-.076.304-.114.55-.114.738v1.823c0 .794.228 1.463.683 2.006.456.543 1.056.814 1.802.814.806 0 1.427-.309 1.86-.927.434-.618.651-1.435.651-2.45l-.142-.524z" fill="white"/>
      <path d="M87.918 26.532c0 .988-.351 1.787-1.055 2.399-.765.66-1.827.991-3.184.991-1.258 0-2.268-.21-3.031-.632l.434-1.738c.827.422 1.737.633 2.73.633.711 0 1.264-.155 1.66-.465.396-.31.594-.734.594-1.272 0-.476-.173-.881-.519-1.215-.345-.333-.948-.646-1.809-.938-2.331-.794-3.497-1.987-3.497-3.579 0-.969.365-1.762 1.096-2.378.731-.617 1.71-.925 2.935-.925 1.065 0 1.952.171 2.661.514l-.467 1.697c-.667-.332-1.422-.498-2.266-.498-.668 0-1.189.158-1.563.475-.311.268-.467.601-.467 1.001 0 .465.187.855.562 1.169.311.269.955.577 1.932.924 1.162.413 2.017.937 2.567 1.571.55.635.824 1.423.824 2.365h.092.002z" fill="white"/>
      <path d="M93.719 22.362h-2.271v4.525c0 1.143.403 1.715 1.209 1.715.371 0 .681-.031.93-.093l.061 1.53c-.413.155-.953.232-1.622.232-.826 0-1.476-.248-1.951-.744-.474-.497-.711-1.327-.711-2.491v-4.674h-1.352v-1.53h1.352v-1.695l2.082-.621v2.316h2.271v1.53h.002z" fill="white"/>
      <path d="M103.676 24.854c0 1.481-.436 2.698-1.308 3.65-.913.992-2.116 1.488-3.607 1.488-1.43 0-2.567-.474-3.413-1.422-.845-.948-1.268-2.147-1.268-3.598 0-1.502.444-2.73 1.331-3.685.888-.954 2.08-1.432 3.577-1.432 1.431 0 2.581.474 3.452 1.422.827.906 1.236 2.073 1.236 3.501v.076zm-2.166.078c0-.889-.186-1.653-.558-2.292-.434-.787-1.066-1.181-1.897-1.181-.872 0-1.524.394-1.958 1.181-.372.639-.558 1.417-.558 2.335 0 .889.186 1.653.558 2.292.455.787 1.097 1.181 1.927 1.181.81 0 1.448-.405 1.917-1.214.372-.639.569-1.413.569-2.322v.02z" fill="white"/>
      <path d="M112.048 23.183c-.165-.031-.338-.046-.517-.046-.807 0-1.427.309-1.86.927-.372.528-.558 1.203-.558 2.025v3.681h-2.094l.021-4.804c0-1.098-.021-2.067-.062-2.905h1.833l.076 1.778h.062c.227-.619.579-1.116 1.055-1.489.476-.341.973-.511 1.489-.511.144 0 .269.011.382.031l.173 1.313z" fill="white"/>
      <path d="M121.479 24.482c0 .414-.027.751-.083.999h-6.319c.027.96.332 1.695.916 2.202.518.455 1.189.683 2.014.683.91 0 1.737-.145 2.481-.435l.32 1.426c-.869.373-1.902.559-3.098.559-1.428 0-2.555-.422-3.38-1.266-.824-.844-1.237-1.978-1.237-3.402 0-1.393.392-2.558 1.175-3.495.824-.999 1.937-1.498 3.34-1.498 1.372 0 2.409.499 3.112 1.498.558.787.837 1.761.837 2.923l-.078.206zm-1.966-.559c.014-.639-.13-1.188-.434-1.646-.372-.558-.924-.837-1.655-.837-.669 0-1.21.269-1.624.806-.351.458-.565 1.017-.641 1.677h4.354z" fill="white"/>
    </g>
    <path d="M48.421 10.086c0 .938-.273 1.656-.818 2.156-.491.454-1.183.681-2.076.681-.427 0-.784-.026-1.07-.078V8.274c.372-.062.8-.093 1.283-.093.852 0 1.497.202 1.935.607.473.437.71 1.064.746 1.879v.419zm-.925-.036c0-.604-.145-1.064-.436-1.38-.29-.317-.715-.475-1.273-.475-.272 0-.496.016-.67.047v4.038c.077.016.228.024.453.024.58 0 1.025-.186 1.336-.559.31-.372.466-.905.59-1.597v-.098zM54.542 11.19c0 .694-.207 1.262-.622 1.706-.434.462-.999.693-1.694.693-.673 0-1.212-.222-1.618-.667-.405-.444-.608-1.007-.608-1.687 0-.704.211-1.279.632-1.726.422-.447.979-.671 1.679-.671.673 0 1.213.222 1.62.667.387.425.58.972.611 1.64v.045zm-1.017.036c0-.416-.087-.774-.262-1.074-.204-.369-.503-.554-.892-.554-.409 0-.717.185-.926.554-.175.3-.262.666-.262 1.094 0 .416.087.774.262 1.074.218.369.523.554.906.554.381 0 .679-.19.892-.569.175-.3.267-.665.282-1.093v.014zM62.14 8.363l-1.472 4.479h-.86l-.609-2.038c-.155-.512-.277-1.038-.369-1.577h-.021c-.077.555-.195 1.081-.354 1.577l-.649 2.038h-.877l-1.379-4.479h.933l.531 2.203c.124.531.227 1.017.309 1.459h.021c.077-.357.201-.821.371-1.393l.677-2.269h.77l.64 2.216c.155.534.279 1.024.371 1.47h.031c.066-.447.165-.933.299-1.459l.58-2.227h.898.039zM67.662 12.842h-.906v-2.62c0-.874-.337-1.312-1.011-1.312-.31 0-.569.114-.778.342-.208.228-.312.502-.312.821v2.769h-.906V9.973c0-.496-.015-.966-.046-1.41h.794l.052.683h.021c.114-.228.279-.416.496-.564.27-.186.583-.279.937-.279.438 0 .8.14 1.085.421.351.338.526.853.574 1.545v2.473zM71.212 12.842h-.906V7.255h.906v5.587zM77.032 11.19c0 .694-.207 1.262-.621 1.706-.434.462-1 .693-1.695.693-.672 0-1.212-.222-1.618-.667-.405-.444-.607-1.007-.607-1.687 0-.704.21-1.279.631-1.726.422-.447.979-.671 1.679-.671.673 0 1.214.222 1.621.667.386.425.579.972.61 1.64v.045zm-1.016.036c0-.416-.087-.774-.262-1.074-.204-.369-.503-.554-.892-.554-.409 0-.717.185-.927.554-.175.3-.262.666-.262 1.094 0 .416.087.774.262 1.074.218.369.524.554.906.554.381 0 .679-.19.892-.569.175-.3.268-.665.283-1.093v.014zM82.371 12.842h-.795l-.062-.512h-.021c-.279.404-.683.606-1.213.606-.403 0-.727-.13-.972-.389-.218-.228-.326-.512-.326-.853 0-.512.211-.904.631-1.177.421-.273 1.006-.408 1.756-.405v-.067c0-.671-.33-1.006-.991-1.006-.454 0-.837.119-1.147.357l-.186-.636c.382-.279.862-.419 1.441-.419.562 0 .988.14 1.279.419.291.279.437.718.437 1.317v1.193c0 .469.021.838.062 1.108v.464zm-.881-1.623v-.728c-1.115-.021-1.673.259-1.673.841 0 .238.062.416.186.534.124.117.279.176.465.176.218 0 .416-.067.593-.202.177-.134.291-.305.343-.512.031-.093.047-.19.086-.295v.186zM88.677 12.842h-.795l-.062-.667h-.021c-.268.512-.694.768-1.277.768-.516 0-.956-.207-1.318-.622-.362-.414-.543-.936-.543-1.566 0-.683.201-1.238.602-1.668.387-.404.843-.607 1.37-.607.516 0 .872.171 1.066.512h.021V7.255h.906v4.542c0 .469.014.884.051 1.245v.8zm-.906-1.889V9.83c0-.093-.01-.171-.031-.233-.062-.248-.186-.451-.371-.607-.186-.155-.403-.233-.652-.233-.372 0-.672.135-.901.405-.228.269-.343.641-.343 1.116 0 .447.105.81.316 1.089.227.304.523.455.887.455.291 0 .541-.109.749-.326.208-.217.322-.485.346-.805v-.138zM98.161 11.19c0 .694-.207 1.262-.622 1.706-.434.462-.999.693-1.694.693-.673 0-1.212-.222-1.618-.667-.405-.444-.608-1.007-.608-1.687 0-.704.211-1.279.632-1.726.422-.447.979-.671 1.679-.671.673 0 1.214.222 1.621.667.387.425.579.972.61 1.64v.045zm-1.017.036c0-.416-.087-.774-.262-1.074-.204-.369-.503-.554-.892-.554-.409 0-.717.185-.927.554-.174.3-.262.666-.262 1.094 0 .416.088.774.262 1.074.218.369.524.554.906.554.381 0 .68-.19.892-.569.175-.3.269-.665.283-1.093v.014zM103.5 12.842h-.906v-2.62c0-.874-.337-1.312-1.011-1.312-.31 0-.569.114-.778.342-.208.228-.312.502-.312.821v2.769h-.906V9.973c0-.496-.015-.966-.046-1.41h.794l.052.683h.021c.114-.228.28-.416.496-.564.27-.186.583-.279.938-.279.438 0 .8.14 1.085.421.351.338.526.853.573 1.545v2.473zM110.279 9.352h-.995v2.121c0 .537.189.805.568.805.175 0 .319-.015.437-.047l.029.717c-.194.073-.447.109-.762.109-.388 0-.692-.116-.916-.349-.223-.233-.334-.622-.334-1.168v-2.188h-.593v-.717h.593v-.793l.978-.291v1.084h.995v.717zM115.785 12.842h-.906v-2.596c0-.889-.337-1.333-1.011-1.333-.501 0-.85.259-1.047.778-.031.093-.046.212-.046.357v2.794h-.906V7.255h.906v2.596h.021c.299-.469.715-.704 1.245-.704.438 0 .797.14 1.075.421.341.338.526.842.669 1.513v2.761zM121.307 11.253c0 .473-.155.859-.465 1.156-.341.331-.834.496-1.48.496-.585 0-1.055-.098-1.412-.295l.204-.814c.388.197.808.295 1.259.295.33 0 .588-.072.772-.217.185-.145.278-.343.278-.596 0-.222-.082-.413-.247-.569-.165-.156-.445-.302-.839-.439-1.094-.372-1.641-.931-1.641-1.676 0-.454.171-.826.514-1.115.343-.289.801-.433 1.376-.433.496 0 .913.08 1.25.241l-.219.799c-.313-.155-.667-.233-1.062-.233-.313 0-.559.073-.733.219-.145.124-.218.279-.218.465 0 .217.087.399.262.547.145.124.447.27.906.433.544.194.946.438 1.203.731.257.293.384.665.392 1.107v-.102z" fill="white"/>
    <defs>
      <clipPath id="clip0">
        <rect width="90" height="19" fill="white" transform="translate(23 10.5)"/>
      </clipPath>
    </defs>
  </svg>
</a>

<style>
  a:hover svg rect {
    fill: #1a1a1a;
  }
</style>

