/* Merriweather - Serif companion for Lato (must be first) */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,400&display=swap');

/* Lato Font Family */
@font-face {
  font-family: 'Lato';
  src: url('/assets/fonts/Lato/Lato-Regular.ttf?cb=v4') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('/assets/fonts/Lato/Lato-Italic.ttf?cb=v4') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('/assets/fonts/Lato/Lato-Light.ttf?cb=v4') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('/assets/fonts/Lato/Lato-Bold.ttf?cb=v4') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('/assets/fonts/Lato/Lato-Black.ttf?cb=v4') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Over the Rainbow - Script/Handwritten (use sparingly) */
@font-face {
  font-family: 'Over the Rainbow';
  src: url('/assets/fonts/Over_the_Rainbow/OvertheRainbow-Regular.ttf?cb=v4') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
