<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<!-- Favicons -->
<link rel="icon" type="image/png" href="/assets/LogoRound-watchOS-Default-50x50@2x.png" />
<link rel="apple-touch-icon" sizes="180x180" href="/assets/AppIcon.png" />
<link rel="mask-icon" href="/assets/AppIcon.png" color="#b1d400" />

<!-- Primary Meta Tags -->
<meta name="application-name" content="Thoughtmarks"/>
<meta name="apple-mobile-web-app-title" content="Thoughtmarks"/>
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
<meta name="theme-color" content="#B7A363"/>
<meta name="mobile-web-app-capable" content="yes"/>

<!-- Fonts -->
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap" rel="stylesheet"/>

<!-- Stylesheet -->
<link rel="stylesheet" href="/assets/syles/main.css" />

